.container-image-nom {
  position: relative;
  text-align: center;
}
.image-dev {
  opacity: 0.2;
  width: 60%;
  margin: auto;
}
.mon-nom {
  color: aliceblue;
  width: 100rem;
  font-size: 10vw;
  text-align: center;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.description {
  color: aliceblue;
  font-size: 4vw;
  text-align: center;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 450px;
  left: 50%;
  transform: translate(-50%, -50%);
}
