.container-image-nom {
  position: relative;
  text-align: center;
}
.image-dev {
  opacity: 0.2;
  width: 55%;
  margin: auto;
  margin-top: 4.8rem;
}
.mon-nom {
  color: aliceblue;
  width: 100rem;
  font-size: 10vw;
  text-align: center;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.description {
  color: aliceblue;
  font-size: 4vw;
  text-align: center;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 39%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
  .image-dev {
    width: 90%;
  }
  .mon-nom {
    top: 170px;
  }
  .description {
    top: 230px;
  }
}
