.nom {
  font-size: 2rem;
  color: aqua;
  margin-left: 3rem;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-list {
  color: aliceblue;
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 1rem;
}
.home {
  color: aliceblue;
  text-decoration: none;
  font-size: 1.2rem;
  margin-left: 1rem;
}
li {
  margin-right: 3rem;
}
.cv {
  color: aqua;
  text-decoration: none;
  font-size: 1rem;
  margin-right: 3rem;
}
@media screen and (max-width: 600px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .nom {
    margin: 0;
    font-size: 1.2rem;
  }
  .navbar-list {
    margin: 0;
    padding: 0;
  }
  .home {
    margin-left: 1rem;
    font-size: 1.2rem;
  }
  li {
    display: none;
  }
  .cv {
    margin: 0;
    font-size: 1rem;
  }
}
