.nom {
  font-size: 2rem;
  color: aqua;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background: rgba(13, 1, 26, 0.308); /* Fond semi-transparent blanc */
  backdrop-filter: blur(10px); /* Effet de flou sur le fond */
  z-index: 1000; /* Assure que la navbar est au-dessus du contenu */
  padding: 10px;
}
.navbar-list {
  color: aliceblue;
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
.home {
  color: aliceblue;
  text-decoration: none;
  font-size: 1.2rem;
  margin-left: 1rem;
}
li {
  margin-right: 3rem;
}
.cv {
  color: aqua;
  text-decoration: none;
  font-size: 1rem;
  margin-right: 3rem;
}
@media screen and (max-width: 600px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .nom {
    display: none;
  }
  .navbar-list {
    margin: 0;
    padding: 0;
  }
  .home {
    margin-left: 1rem;
    font-size: 1.2rem;
  }
  li {
    margin: 0.5rem;
  }
  .cv {
    margin: 0;
    font-size: 1rem;
  }
}
